<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
	<script src="app.js"></script>
	<script src="controllers/mainCtrl.js"></script>
	<script src="models/commentModel.js"></script>
</head>
<body style="padding: 20px">

<div ng-controller="MainCtrl">
	<div>
		<form class="form-inline">
			<div class="form-group">
				<label for="comment">Your comment:</label>
				<input type="text" size="80" class="form-control" id="comment" placeholder="text of comment" ng-model="newComment">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addComment()">Add</button>
		</form>
		<br/>

		<div style="height: 500px; overflow-y: auto">
			<div infinite-scroll='loadMore()' infinite-scroll-parent="true">
				<table class="table">
					<tr>
						<th><a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Date</a></th>
						<th><a href="" ng-click="orderByField='likes'; reverseSort = !reverseSort">Likes</a></th>
						<th>Text</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat="comment in comments | orderBy:orderByField:reverseSort">
						<td>{{comment.date | date:"MM/dd/yyyy 'at' h:mma"}}
						</td>
						<td>{{comment.likes}}
						</td>
						<td>{{comment.text}}
						</td>
						<td>
							<input type="button" value="Edit" class="btn btn-primary btn-sm" ng-click="editComment(comment)"/>
							<input type="button" value="Remove" class="btn btn-primary btn-sm" ng-click="removeComment(comment)"/>
							<input type="button" value="Like" class="btn btn-primary btn-sm btn-success" ng-click="likeComment(comment)"/>
							<input type="button" value="Dislike" class="btn btn-primary btn-sm btn-danger" ng-click="dislikeComment(comment)"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

</body>
</html>